In [1]:
import pandas as pd
import re

# credentials = {'client_id': 'client_a9523da7177b4bdda673b8b370299579',
#                'client_secret': 'secret_788f9e01feed51bfe832c7ffa62d8208'}

filename = 'local_listings.csv'
df = pd.read_csv(filename, sep=',')
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [2]:
# df.head()

In [3]:
# Todo: Make sure all listings have a real price
# extract prices where available.
# identify listings with no price and then price range function
df['listing.priceDetails.displayPrice'] = df['listing.priceDetails.displayPrice'].fillna('none')
null_price = df['listing.priceDetails.price'].isnull()

In [4]:
# If the display price feature has a number, this is likely to be the price. 
# This is not expected to happen often.
display_is_number = df['listing.priceDetails.displayPrice'].str.isdigit()
df.loc[(null_price & display_is_number), 'listing.priceDetails.price'] = \
    df[null_price & display_is_number]['listing.priceDetails.displayPrice']

In [5]:
# replace the time and date parts of the display price before finding the price, so the numbers are only price

# Remove the numbers related to time
time_pattern = '[0-9]{1,2}\.[0-9]{1,2}[ap]'
df['time_in_price'] = df['listing.priceDetails.displayPrice'].str.findall(time_pattern)

# Replace the time in the display price
mask = ~df['time_in_price'].str[0].isnull()
df.loc[mask, 'listing.priceDetails.displayPrice'] = \
    df[mask]['listing.priceDetails.displayPrice'].str.replace(df['time_in_price'][df[mask].index[0]][0],'')

In [6]:
# Remove the dates from the price field
def remove_dates(df, pattern):
    df['date_in_price'] = df['listing.priceDetails.displayPrice'].str.findall(pattern, re.IGNORECASE)

    # Replace the date in the display price
    for idx, row in df.iterrows():
        if row['date_in_price']:
            removed_date = row['listing.priceDetails.displayPrice'].replace(row['date_in_price'][0],'')
            df.loc[idx, 'listing.priceDetails.displayPrice'] = removed_date

    return df

            
# Remove the numbers related to dates
date_pattern = r'(?=Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{1,2}'
df = remove_dates(df, date_pattern)

date_pattern = r'\d{1,2} (?=Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)'
df = remove_dates(df, date_pattern)

date_pattern = '[0-9]{1,2}[sSnNrRtT]'
df = remove_dates(df, date_pattern)

# Remove other phrases with numbers in them
# eg: 'sold in 7 days' or 'land 999m2'
pattern = '\d{1,2} (?=day)'
df = remove_dates(df, pattern)

pattern = '\d{2,4}\w2'
df = remove_dates(df, pattern)

In [7]:
df[['listing.priceDetails.displayPrice', 'displayPrice', 'fromPrice', 'toPrice']]

,listing.priceDetails.displayPrice,displayPrice,fromPrice,toPrice
0,Expressions of Interest close h June m,300,300.0,300.0
1,"Auction Guide $1,200,000",1200000,1200000.0,1200000.0
2,"Auction Guide $1,275,000",1275000,1275000.0,1275000.0
3,Auction - h June 9.00am,-900,900.0,900.0
4,"$1,300,000 - $1,400,000",1300000-1400000,1300000.0,1400000.0
5,"Guide $1,400,000",1400000,1400000.0,1400000.0
6,"Guide $1,400,000 - $1,500,000",1400000-1500000,1400000.0,1500000.0
7,price search,NaN,1425000.0,1400000.0
8,"Asking Price - $1,435,000",-1435000,1435000.0,1435000.0
9,"Asking Price $1,449,000",1449000,1449000.0,1449000.0
10,price search,NaN,1500000.0,1475000.0
11,price search,NaN,1500000.0,1475000.0
12,"For Sale: $1,500,000 - $1,650,000",1500000-1650000,1500000.0,1650000.0
13,price search,NaN,1700000.0,1675000.0
14,"Price Guide $1,700,000",1700000,1700000.0,1700000.0
15,"Guide $1,750,000",1750000,1750000.0,1750000.0
16,price search,NaN,1750000.0,1725000.0
17,price search,NaN,1800000.0,1775000.0
18,price search,NaN,2000000.0,1975000.0
19,Price Guide $2 Million,2,2.0,2.0
20,"Guide: $2,000,000",2000000,2000000.0,2000000.0
21,"Guide $1,980,000",1980000,1980000.0,1980000.0
22,"Price Range $1,950,000 - $2,145,000",1950000-2145000,1950000.0,2145000.0
23,For Sale,NaN,1950000.0,1925000.0
24,Contact agent,NaN,1150000.0,1125000.0
25,Auction,NaN,1950000.0,1925000.0
26,For Sale - Land + House,-,1900000.0,1875000.0
27,Contact agent,NaN,1900000.0,1875000.0
28,"Price Guide $1,875,000 - $1,975,000",1875000-1975000,1875000.0,1975000.0
29,For Sale: Contact Agent,NaN,1850000.0,1825000.0
...,...,...,...,...
137,For Sale,NaN,NaN,NaN
138,"For Sale: $2,750,000 - $2,850,000",2750000-2850000,2750000.0,2850000.0
139,"Price Guide $2,750,000 - $3,025,000",2750000-3025000,2750000.0,3025000.0
140,Contact Agent,NaN,NaN,NaN
141,Price on request,NaN,NaN,NaN
142,"Guide $2,200,000 - $2,400,000",2200000-2400000,2200000.0,2400000.0
143,"For Sale $1,050,000",1050000,1050000.0,1050000.0
144,"Price guide $3,750,000 | Inspect By Appointment",3750000,3750000.0,3750000.0
145,"$835,000",835000,835000.0,835000.0
146,"Guide $1,200,000 - $1,320,000",1200000-1320000,1200000.0,1320000.0
147,"Asking Price $2,950,000",2950000,2950000.0,2950000.0
148,"UNDER OFFER $775,000",775000,775000.0,775000.0
149,"For Sale: $1,900,000 - $2,050,000",1900000-2050000,1900000.0,2050000.0
150,"FOR SALE $3,950,000",3950000,3950000.0,3950000.0
151,"For Sale: $850,000 - $900,000",850000-900000,850000.0,900000.0
152,"FOR SALE: $2,075,000",2075000,2075000.0,2075000.0
153,"Sale by Openn Negotiation - Current Bid $1,250...",-1250000,1250000.0,1250000.0
154,"Guide $680,000 - $715,000",680000-715000,680000.0,715000.0
155,"Guide $2,750,000",2750000,2750000.0,2750000.0
156,"For Sale: $950,000 - $1,050,000",950000-1050000,950000.0,1050000.0
157,"Price Guide $2,050,000 - $2,200,000",2050000-2200000,2050000.0,2200000.0
158,"For Sale $2,150,000 - $2,200,000",2150000-2200000,2150000.0,2200000.0
159,Contact agent,NaN,NaN,NaN
160,"Auction Guide $2,800,000",2800000,2800000.0,2800000.0
161,"Auction: Guide $2,850,000",2850000,2850000.0,2850000.0
162,Contact Agent,NaN,NaN,NaN
163,Auction,NaN,NaN,NaN
164,Under Contract,NaN,NaN,NaN
165,"Auction Guide $1,650,000",1650000,1650000.0,1650000.0
166,none,NaN,NaN,NaN

In [1017]:
def extend_numbers(df, pattern, delimiter=' ', number=0):

    df[f'alt{number}'] = df['listing.priceDetails.displayPrice'].str.findall(pattern, flags=re.IGNORECASE)    
    df['float_value'] = df[f'alt{number}'].str[0].str.split(delimiter).str[0].astype(float)*1e6
    df[f'replace_value_{number}'] = df['float_value'].fillna(0).astype(int)
    
    for idx, row in df.iterrows():

        if row[f'alt{number}']:
            extend_number = row['listing.priceDetails.displayPrice'].replace(row[f'alt{number}'][0],str(row[f'replace_value_{number}']))
            df.loc[idx, 'listing.priceDetails.displayPrice'] = extend_number

    
    return df

pattern = r'(\d{1}.{1,3} mill)'
df = extend_numbers(df, pattern)

pattern = r'\d{1,2} mill'
df = extend_numbers(df, pattern, number=1)

pattern = r'\d.\d{1,2}M$'
df = extend_numbers(df, pattern, delimiter='M', number=2)

# pattern = r'\d.\d{1,2} M$'
# df = extend_numbers(df, pattern, number=3)

In [1018]:
df['displayPrice'] = df['listing.priceDetails.displayPrice'].\
    str.findall(r'([0-9-]{1,3})').str.join(sep='')

In [1019]:
# df[null_price][['listing.priceDetails.displayPrice', 'listing.priceDetails.price', 
# #                 'listing.priceDetails.priceFrom','listing.priceDetails.priceTo', 
#                 'displayPrice']]

In [1020]:
df['fromPrice'] = df['listing.priceDetails.priceFrom']
df['toPrice'] = df['listing.priceDetails.priceTo']

df.loc[null_price, 'fromPrice'] = df[null_price]['displayPrice'].str.split('-').str[0]
df.loc[null_price, 'toPrice'] = df[null_price]['displayPrice'].str.split('-').str[1]

null_toPrice = df['toPrice'].isnull()
df.loc[null_toPrice, 'toPrice'] = df[null_toPrice]['fromPrice']

empty_price = df['toPrice'] == ''
df.loc[empty_price, 'toPrice'] = df[empty_price]['fromPrice']

empty_price = df['fromPrice'] == ''
df.loc[empty_price, 'fromPrice'] = df[empty_price]['toPrice']

# df[null_price][['listing.priceDetails.displayPrice', 'displayPrice', 'fromPrice', 'toPrice']]

,listing.priceDetails.displayPrice,displayPrice,fromPrice,toPrice
0,"UNDER OFFER $775,000",775000,775000,775000
1,"For Sale $1,050,000",1050000,1050000,1050000
2,"For Sale: $1,900,000 - $2,050,000",1900000-2050000,1900000,2050000
3,"Guide $1,200,000 - $1,320,000",1200000-1320000,1200000,1320000
4,"Price guide $3,750,000 | Inspect By Appointment",3750000,3750000,3750000
6,"Asking Price $2,950,000",2950000,2950000,2950000
7,Auction Saturday May,,,
8,Contact Agent,,,
9,"For Sale: $1,500,000 - $1,650,000",1500000-1650000,1500000,1650000
10,Contact Agent,,,
11,Contact Agent,,,
12,UNDER CONTRACT,,,
13,Price on Request,,,
14,"Asking Price - $1,435,000",-1435000,1435000,1435000
15,"Asking Price $1,229,000",1229000,1229000,1229000
16,"$1,300,000 - $1,400,000",1300000-1400000,1300000,1400000
17,Auction - h May m,-,,
18,By Negotiation,,,
19,"Auction Guide $1,200,000",1200000,1200000,1200000
20,CONTACT AGENT,,,
21,"Guide $1,100,000 - $1,200,000",1100000-1200000,1100000,1200000
22,"Guide $1,400,000",1400000,1400000,1400000
23,"Guide $1,750,000",1750000,1750000,1750000
24,"PRICE GUIDE: $1,850,000 AUCTION H May",1850000,1850000,1850000
25,SOLD IN DAYS - SOLD PRIOR TO AUCTION,-,,
26,"Price Guide $2,050,000 - $2,200,000",2050000-2200000,2050000,2200000
27,CONTACT AGENT,,,
28,"Guide $2,000,000",2000000,2000000,2000000
29,Price Guide $2000000ion,2000000,2000000,2000000
30,"Guide: $2,000,000",2000000,2000000,2000000
...,...,...,...,...
125,Auction,,,
126,Auction Saturday h June,,,
127,CONTACT AGENT,,,
128,CONTACT AGENT,,,
129,"For Sale: $2,250,000 - $2,450,000",2250000-2450000,2250000,2450000
130,"Price Range $2,200,000 - $2,400,000",2200000-2400000,2200000,2400000
131,"For Sale $2,150,000 - $2,200,000",2150000-2200000,2150000,2200000
132,"Guide $680,000 - $715,000",680000-715000,680000,715000
133,"Auction Price Guide $2,100,000 - on site h June",2100000-,2100000,2100000
134,Contact Agent,,,
135,"Asking Price $2,100,000",2100000,2100000,2100000
136,Contact Agent,,,
137,"Price Guide $2,750,000 - $3,025,000",2750000-3025000,2750000,3025000
138,CONTACT AGENT,,,
139,CONTACT AGENT,,,
140,Contact Agent,,,
141,"Auction: Guide $3,100,000 - $3,300,000",3100000-3300000,3100000,3300000
142,"Guide $3,000,000",3000000,3000000,3000000
143,For Sale: Contact Agent,,,
144,Contact Agent,,,
146,"FOR SALE GUIDE: $2,850,000",2850000,2850000,2850000
147,"Auction: Guide $2,850,000",2850000,2850000,2850000
148,Price on request,,,
149,Contact Agent,,,
150,For Sale,,,
151,For Sale,,,
152,"For Sale: $2,750,000 - $2,850,000",2750000-2850000,2750000,2850000
153,"Price Range $2,500,000 - $2,750,000",2500000-2750000,2500000,2750000
154,Contact Agent,,,
155,Price on request,,,

In [1021]:

df.to_csv('local_listings2.csv')